html, body {
    background-color: #fff8e7;
    width: 100%;
    height: 100%;
    margin: 0;
}
h1 {
    color: #8b4513;
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#waffles-counter-image {
    width: 2.5rem;
}
#waffles-counter-container {
    display: flex;
    flex-direction: row;
    gap: .8rem;
    align-items: center;
}
#waffles-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
#waffles-image-container p {
    margin: 0;
    text-align: center;
}
#waffles-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    gap: .8rem;
}
